p{
    color:white;
    background-color:black;
}
h1{
    color:black;
}
h3{
    color:black;
}
#encabezado-cuatro{color:black;
}
.color-red{color:black;
}
.color-blue{color:black;

}
body{
    background-image: url(https://assets.bridgestonetire.com/content/dam/consumer/bst/la/co/tips/2022/tecnologia-de-llantas/deportivo.jpg);
background-size: cover;
}
.montes{color:white;
    background-color: black;
}